@model FishBuddy.Models.FishSpecies

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>FishSpecies</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FishCommonName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FishCommonName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FishSpeciesName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FishSpeciesName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FishHabitat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FishHabitat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecordWeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecordWeight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecordLength)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecordLength)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="FishSpeciesId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
