@model IEnumerable<FishBuddy.Models.FishSpecies>

@{
    ViewData["Title"] = "Index";
}

<h1>Fish Species</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FishCommonName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FishSpeciesName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FishHabitat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecordWeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecordLength)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FishCommonName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FishSpeciesName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FishHabitat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecordWeight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecordLength)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FishSpeciesId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FishSpeciesId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FishSpeciesId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
