@model IEnumerable<FishBuddy.Models.FishLog>

@{
    ViewData["Title"] = "Index";
}

<h1>Catch Log</h1>

<p>
    <a asp-action="Create">Add Catch</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
            @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FishName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.MaxLength)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxWeight)
            </th>
          
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FishName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
               
                <td>
                    @Html.DisplayFor(modelItem => item.MaxLength)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaxWeight)
                </td>
               
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
