@model IEnumerable<FishBuddy.Models.FishWeather>

@{
    ViewData["Title"] = "Index";
}

<h1>Best Weather To Catch Fish</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FishSpecies)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BestWeathers)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FishSpecies.FishCommonName)
                </td>

            <td>
                @Html.DisplayFor(modelItem => item.BestWeathers)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FishWeatherId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FishWeatherId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FishWeatherId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
